body {
  font-family: "Oswald", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  font-family: inherit;
  width: 70px;
  height: 70px;
  background: #f0f0f3;
  box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6),
    10px 10px 24px rgba(174, 174, 192, 0.2);
  border-radius: 16px;
  font-size: 36px;
  color: #728ab7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 25px;
}

.container {
  background-color: #f0f0f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
  height: 530px;
  box-sizing: border-box;
  padding: 0 35px 0 35px;
}

.container > div {
  display: flex;
  flex-direction: column;
}
